@import "../../../../src/less/core/variables";
@import "../../../../src/less/core/mixins";
@import "pygments.less";

@font-size-big: 2.25rem;
@font-size-medium: 1.5rem;
@font-size-nav: 1rem;
@font-size-base: 1rem;
@font-size-small: 0.667rem;
@font-size-extra-small: 0.444rem;

@font-color: #222;

html > body {
    background: #fafafa;
    color:#555;
}

h1 {
    margin: 0;
}

h2, h3, h4 {
    margin: 2em 0 0.5em 0;
}

h1 {
    font-size: @font-size-big;
}

h2 {
    font-size: @font-size-big;
    font-weight: 300;
}

h3 {
    font-weight: 300;
    font-size: @font-size-medium;
}

.code {
    padding: 0.2rem 0.4rem;
    margin: 0;
    border-radius: 3px;
}

p {
    line-height: 1.45rem;
    margin: 1.2rem 0;
    font-weight:300;

}

#page-notice {
    color: #cc0000;
}

.tabs {

}

.tabs h3[aria-hidden=true] {
    display: none;
}

[role=main] > div {
    outline: none;
}

.highlight {
    padding: 0.2em 0.5em;
    margin-bottom: 14px;
    background-color: rgba(0, 0, 0, 0.06);
    border: @border-grey;
    border-top: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

header {
    padding: 0 2rem;
    background: #fff;
    padding: 0 2rem;
    border-bottom: 1px solid #ECECEC;
    .mixin-clearfix();

    @ebay-sprite-url: 'http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png?e';

    .ebay-logo {
        margin: 1.5rem 0 0;
        width: 117px;
        height: 39px;
        position: relative;
        overflow: hidden;
        background: url(@ebay-sprite-url) 0 117px;
        background-size: 190px;
        float: left;
    }

    .title {
        margin: 1.8rem 0 0;
        font-weight: 300;
        font-size: 1.35rem;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            float: right;

            li {
                float: left;

                a {
                    line-height: 2rem;
                    font-size: @font-size-base;
                    padding: 2rem 0 1rem;
                    margin: 0 1rem;
                    display: inline-block;
                    font-weight:300;

                    &.active {
                        border-bottom: 1px solid @ebay-blue;
                        color: @font-color;
                           font-weight:500;
                    }
                }

            }
        }
    }
}

[role="main"] {
    margin: 0 auto;
    max-width: 1200px;
    .mixin-clearfix();

    hr {
        max-width: 4rem;
        margin: 2rem 0;
        border-style: solid;
        border-top: 0;
    }

    .demo {
        background: #fff;
        border: @border-grey;
        padding: 1rem;
    }
}

.column {
    float: left;
}

ul.skin-module-list {
    padding: 0;
    li {
        background-color: rgba(0, 0, 0, 0.06);
        display: inline-block;
        margin: 0 1rem .25rem 0;
        width: 30%;
        padding: .5rem;
    }
}

.content {
    width: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    .left-nav {
        width: 20%;
        padding: 3rem 0;

        &.docked {
            position: fixed;
            top: -30px;
        }

        ul.modules-nav {
            @menu-item-width: 15rem;
            margin: 1rem 0;
            padding: 0;
            position: relative;

            li {
                display: inline-block;
                width: @menu-item-width;
                padding: .3rem .85rem;
                margin: .3rem 0;
                font-size: @font-size-base;

                &.active {
                    border-left:2px solid @ebay-blue;
                }
            }
        }
    }
    .right {
        width: 72%;
        float: right;
    }

}

.icon-demo {
    width: 14rem;
    display: inline-block;
    padding: 1rem;

    span:last-child {
        margin-left: 1rem;

    }
}

footer {
    .mixin-clearfix();
    background: @grey-dark;
    color: @grey-light;
    margin-top: 3rem;

    .footer-content {
        padding: 2rem 0 3rem 0;
        max-width: 1200px;
        margin: auto;
    }

    .left a {
        margin-right: 1rem;
    }
    a {
        color: @grey-light;

        &:visited {
            color: @grey-medium;

        }
    }

}

