.hll {
  background-color: #ffffcc;
}
.c {
  color: #999;
}
.err {
  color: #AA0000;
  background-color: #FFAAAA;
}
.k {
  color: #006699;
}
.o {
  color: #555555;
}
.cm {
  color: #0099FF;
  font-style: italic;
}
.cp {
  color: #009999;
}
.c1 {
  color: #999;
}
.cs {
  color: #999;
}
.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000;
}
.ge {
  font-style: italic;
}
.gr {
  color: #FF0000;
}
.gh {
  color: #003300;
}
.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00;
}
.go {
  color: #AAAAAA;
}
.gp {
  color: #000099;
}
.gu {
  color: #003300;
}
.gt {
  color: #99CC66;
}
.kc {
  color: #006699;
}
.kd {
  color: #006699;
}
.kn {
  color: #006699;
}
.kp {
  color: #006699;
}
.kr {
  color: #006699;
}
.kt {
  color: #007788;
}
.m {
  color: #FF6600;
}
.s {
  color: #d44950;
}
.na {
  color: #4f9fcf;
}
.nb {
  color: #336666;
}
.nc {
  color: #00AA88;
}
.no {
  color: #336600;
}
.nd {
  color: #9999FF;
}
.ni {
  color: #999999;
}
.ne {
  color: #CC0000;
}
.nf {
  color: #CC00FF;
}
.nl {
  color: #9999FF;
}
.nn {
  color: #00CCFF;
}
.nt {
  color: #2f6f9f;
}
.nv {
  color: #003333;
}
.ow {
  color: #000000;
}
.w {
  color: #bbbbbb;
}
.mf {
  color: #FF6600;
}
.mh {
  color: #FF6600;
}
.mi {
  color: #FF6600;
}
.mo {
  color: #FF6600;
}
.sb {
  color: #CC3300;
}
.sc {
  color: #CC3300;
}
.sd {
  color: #CC3300;
  font-style: italic;
}
.s2 {
  color: #CC3300;
}
.se {
  color: #CC3300;
}
.sh {
  color: #CC3300;
}
.si {
  color: #AA0000;
}
.sx {
  color: #CC3300;
}
.sr {
  color: #33AAAA;
}
.s1 {
  color: #CC3300;
}
.ss {
  color: #FFCC33;
}
.bp {
  color: #336666;
}
.vc {
  color: #003333;
}
.vg {
  color: #003333;
}
.vi {
  color: #003333;
}
.il {
  color: #FF6600;
}
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}
html > body {
  background: #fafafa;
  color: #555;
}
body.has-dialog {
  overflow: hidden;
}
body > header h1 {
  display: inline-block;
  line-height: normal;
  margin: 0;
}
h2 {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 1.75rem;
  padding: 100px 0 0 0;
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 4rem;
}
p {
  line-height: 1.45rem;
  margin: 1.2rem 0;
  font-weight: 300;
}
body > header {
  background: #fff;
  border-bottom: 1px solid #ECECEC;
  left: 0;
  line-height: normal;
  padding: 0.3rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
body > header > h1 {
  display: none;
}
body > header .menu.menu--faux button {
  border: 0;
}
body > header .menu.menu--faux {
  height: 100%;
}
body > header .menu.menu--faux ul {
  border: 0;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  line-height: normal;
  margin-top: 0.25rem;
}
body > header .menu.menu--faux ul li a {
  padding-left: 0;
}
body > header .menu.menu--faux ul li a:hover {
  color: black;
}
body > header h1 span:first-child {
  height: 37px;
  width: 89px;
  position: relative;
  overflow: hidden;
  background: url('http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png?e') 0 117px;
  background-size: 190px;
  display: inline-block;
  vertical-align: bottom;
}
body > header h1 span:last-child {
  color: #333;
  display: inline-block;
  font-weight: 100;
  font-size: 2.2rem;
}
body > header > nav {
  display: none;
}
[role="main"] {
  margin: 0 auto;
  max-width: 800px;
  padding: 100px 1rem 2rem;
}
section:not(:last-of-type) {
  padding-bottom: 2rem;
}
body > footer {
  background: #333333;
  color: #eeeeee;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  z-index: 2;
  width: 100%;
}
body > footer a,
body > footer a:visited {
  color: #eee;
}
.grid {
  display: table;
  border-collapse: collapse;
}
.grid > div {
  display: table-row;
}
.grid > div > div {
  display: table-cell;
}
.grid > div > div:nth-of-type(even) {
  padding-left: 0.5em;
}
#intro h2 {
  margin-top: 0;
  padding-top: 0;
}
#intro h3 {
  margin-top: 0;
}
.skin-module-list {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}
.skin-module-list li {
  background-color: rgba(0, 0, 0, 0.06);
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}
.card {
  margin: 20px;
}
[class*="icon-"]:before {
  margin-right: .5rem;
}
#icons {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  font-size: 0.667rem;
  line-height: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#icons li {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
}
#icons li span:first-child:after {
  content: attr(class);
}
.demo {
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 1rem;
}
.highlight {
  padding: 0.2em 0.5em;
  margin-bottom: 14px;
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.06);
  border: 1px solid #eeeeee;
  border-top: 0;
  font: 0.667rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.tooltip {
  position: relative;
}
.tooltip > .flyout-alert {
  top: 30px;
}
.bubblehelp {
  position: relative;
}
.bubblehelp > .flyout-alert {
  left: -12.5px;
  top: 35px;
}
.bubblehelp > button {
  border: none;
  background: none;
}
.bubblehelp > button::before {
  margin-right: 0;
}
@media (min-width: 750px) {
  body > header {
    border-right: 1px solid #ECECEC;
    border-bottom: 0;
    height: 100%;
    overflow: auto;
    padding: 1rem;
    width: 200px;
  }
  body > header h1 {
    display: inline-block;
  }
  body > header h1 a {
    display: inline-block;
  }
  body > header button[type].btn {
    display: none;
  }
  body > header .menu.menu--faux {
    display: none;
  }
  body > header > nav {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    display: block;
    font-size: 1rem;
    line-height: 2.5rem;
    margin: 1rem 0;
    width: 100%;
  }
  body > header > nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body > header > nav li {
    width: 100%;
  }
  body > header > nav a {
    color: #333;
    display: block;
    white-space: nowrap;
    width: 100%;
  }
  body > header > nav a:hover {
    color: black;
  }
  body > header > nav a:visited {
    color: #333;
  }
  [role=main] {
    margin: 0 1rem 0 210px;
    padding-bottom: 0;
    padding-top: 1.1rem;
  }
  section:not(:last-of-type) {
    padding-bottom: 4rem;
  }
  h2 {
    margin-top: 0;
    padding-top: 1.05rem;
  }
  body > footer {
    text-align: left;
    width: 200px;
  }
  #icons {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
  .skin-module-list {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
  .grid > div > div:nth-of-type(even) {
    padding-left: 1em;
  }
}
